.heading{
  text-align: center;
  margin-top: 60px;
  font-weight: 300;
  font-size: 40px;
  color: rgb(94, 94, 97);
}
.add_btn{
  margin: 40px 0px 10px 40px;
  background-color: rgb(30, 156, 30);
  color: aliceblue;
}
.add_btn:hover{
  background-color: aqua;
  color: black;
}
.back_btn:hover{
  background-color: rgb(119, 116, 118);
  color: white;
}
.table{
  margin: 0px 20px 0px 40px;
  width: 95%;
  text-align: center;
}
.actions{
  width: 20%;
}
.create_form{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0  20px rgba(0, 0, 0, 0.2);
  margin: 50px 100px 50px 100px;
}